In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.set_option('display.max_columns', None)

boscun = pd.read_csv('BOS_CUN_trips1M.csv')

In [ ]:
boscun.head()

In [ ]:
boscun.describe()

In [ ]:
boscun.nunique()

In [2]:
boscun.drop(['currency', 'surcharge', 'origin', 'destination', 'paxtype', 'tax', 'includes_sns'], axis=1, inplace=True)
boscun.sort_values(by=['messageid', 'tripindex'], inplace=True)

In [3]:
from datetime import datetime, timedelta

boscun['departure'] = boscun['departure'].apply(lambda x:datetime.utcfromtimestamp(x) - timedelta(hours=4))
boscun['received'] = boscun['received'].apply(lambda x:datetime.utcfromtimestamp(x) - timedelta(hours=4))
boscun['return'] = boscun['return'].apply(lambda x:datetime.utcfromtimestamp(x) - timedelta(hours=5))

In [4]:
boscun['tminus'] = boscun['departure']-boscun['received']
boscun.drop(['receiveddate','received_odate', 'departure_odate', 'return_ddate', 'triptimestamp'], axis=1, inplace=True)

In [5]:
boscun.head()

,messageid,tripindex,received,total,source,merchant,majorcarrierid,departure,return,outbounddurationminutes,outboundstops,returndurationminutes,returnstops,availableseats,cabinclass,refundable,los2,departure_dow,return_dow,tminus
161328,0001d7e17408a1890000014189613bafda930218286f2f34,0,2013-10-05 12:09:12,795.95,Sabre,TCY,AA,2013-11-23 15:40:00,2013-11-29 07:50:00,405,1,550,1,1,E,False,6,6,5,49 days 03:30:48
161329,0001d7e17408a1890000014189613bafda930218286f2f34,1,2013-10-05 12:09:12,780.95,Sabre,TCY,B6,2013-11-23 07:33:00,2013-11-29 16:47:00,554,1,466,1,9,E,False,6,6,5,48 days 19:23:48
161330,0001d7e17408a1890000014189613bafda930218286f2f34,2,2013-10-05 12:09:12,1048.95,Sabre,TCY,B6,2013-11-23 13:05:00,2013-11-29 14:33:00,273,0,238,0,3,E,False,6,6,5,49 days 00:55:48
161331,0001d7e17408a1890000014189613bafda930218286f2f34,3,2013-10-05 12:09:12,835.95,Sabre,TCY,AA,2013-11-23 12:05:00,2013-11-29 07:50:00,620,1,550,1,1,E,False,6,6,5,48 days 23:55:48
161332,0001d7e17408a1890000014189613bafda930218286f2f34,4,2013-10-05 12:09:12,852.15,Sabre,TCY,DL,2013-11-23 07:00:00,2013-11-29 07:40:00,795,2,768,2,9,E,False,6,6,5,48 days 18:50:48

In [7]:
boscun.nunique()

messageid                   36411
tripindex                    7116
received                    32755
total                       12656
source                          2
merchant                       12
majorcarrierid                 15
departure                   13339
return                      11964
outbounddurationminutes       924
outboundstops                   4
returndurationminutes         954
returnstops                     4
availableseats                 10
cabinclass                      4
refundable                      2
los2                           96
departure_dow                   7
return_dow                      7
tminus                     314754
dtype: int64

___
### Assumptions:
- User is performing all searches from Boston (UTC-4) and therefore '`triptimestamp`' will be converted to EST(-4).
- Tax isn't considered because it is standard/dependent on '`total`' (dropped from table).
- '`currency`', '`surcharge`', '`origin`', '`destination`', and '`paxtype`' are all dropped because they only have 1 value.
___